head{

}

body{

}
#myBox{
    background-color: antiquewhite;
    font-size: 100px;
    border-style: solid;
    border-color: chartreuse;
    border-width: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding:0;
    width: 350px ;
}

p{
    text-align: justify;
    text-shadow: 1cm;
    color: rgb(228, 22, 50);
    background-color: rgba(72, 204, 54, 0.185);
    
}